<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Hello World!</title>
</head>
<body>
<ul>
    {{range .}}
    <li>{{.}} was a person who imparted much wisdom, and deserved the title "sage"</li>
    {{end}}
</ul>
</body>
</html>